p [[キューピッド]]・[[求愛者]]・[[悪女]]によって付加されるサブ役職です。
p 所属陣営が[[恋人陣営]]に変更され、勝利条件も「[[恋人陣営]]の勝利」に変更されます。また、他の恋人が誰か把握できます。
p もともとの勝利条件は無効となるので、たとえば[[奴隷]]が恋人になった場合は村の[[貴族]]が死んでいなくても勝利となるほか、[[スパイ]]も村を去る必要はありません。
p 相方の恋人が死んだ場合、[[恋人の後を追って自殺|死因一覧]]します。そのため、勝利するには[[恋人]]が全員生き残る必要があります。
p [[設定]]で「恋人はそれぞれ独立する」が「あり」の場合、相方以外の恋人が死んでも自殺しませんし、相方以外の恋人は認識できません。なしの場合、恋人が誰か1人死んだら自殺しますが、恋人を全員把握できます。

section
  h2 関連ページ
  ul
    li [[キューピッド]]
    li [[求愛者]]
    li [[悪女]]
    li [[手玉]]
    li [[恋人陣営]]
