p [[占い師]]が死亡した場合、[[占い師]]に変化します。
p 村に複数の[[占い師]]が存在している場合、そのうち1人でも死ねば[[占い師]]に変化します。
p [[占い師]]の死亡により変化する場合、村に複数の見習い占い師がいる場合は全員[[占い師]]に変化します。
p また、最初から村に[[占い師]]が存在しない場合も[[占い師]]に変化しますが、この場合は村の見習い占い師が1人だけ変化します。
p 闇鍋では、[[闇鍋セーフティ|設定]]が「高」以上の場合[[占い師]]がいるときしか出現しません。

section
  h2 ログ
  dl.logs
    dt 占い師に変化したとき
    dd
      p.log.skill ○○は占い師になりました。

section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 関連役職
  ul
    li [[占い師]]
section
  h2 出典
  p 究極の人狼
