p [[恋人]]を作る役職です。初日の夜に参加者から1人指定して求愛し、自身と[[恋人]]にします。さらにもう1人を選択して[[手玉]]にします。
p 2日目以降に悪女に変化した場合、最初の夜に求愛対象と手玉を選択します。
p [[身代わりくん]]が悪女になった場合は能力を発動しません。

p 指定した時点で自分と求愛相手は即座に[[恋人]]になり、相手にも伝わります。また、[[手玉]]になった人にも即座に伝わります。
p [[恋人]]になった人と[[手玉]]になった人は、自分がどちらか区別できません。さらに、自分に求愛したのが悪女なのか[[求愛者]]なのかも区別できません。

p 基本的に悪女は[[恋人]]になりますが、何らかの原因で悪女が[[恋人]]でなくなった場合も、[[恋人陣営]]が勝利すれば一緒に勝利します。

section
  h2 ログ
  dl.logs
    dt 求愛相手を選択したとき
    dd
      p.log.skill ○○は○○を本命の相手に選びました。
    dt 手玉を選択したとき
    dd
      p.log.skill ○○は○○を手玉に取りました。
    dt 求愛された側
    dd
      p.log.skill ○○は求愛されて恋人になりました。

section
  h2 勝利条件
  p [[恋人陣営]]の勝利
section
  h2 関連役職
  ul
    li [[求愛者]]
    li [[キューピッド]]
section
  h2 出典
  p 蒼汁天国
