p [[人狼系]]の役職です。
p 慎重な狼には、夜に襲撃先を選択するときに「襲撃しない」という選択肢が追加で表示されます。
p 「襲撃しない」を選んだ場合は誰も襲撃しません。

p [[狼の子]]・[[欲張りな狼]]などの効果で2人以上襲撃できる場合に「襲撃しない」を選択した場合は、襲撃できる人数が1人だけ減少します（複数回「襲撃しない」ことも選択できます）。

include common/Werewolf.jade

section
  h2 ログ
  dl.logs
    dt 能力使用時（[[人狼系]]に表示）
    dd
      p.log.skill ○○たち人狼は襲撃しませんでした。

section
  h2 勝利条件
  p [[人狼陣営]]の勝利
section
  h2 出典
  p: a(href="http://rakurakutei.fool.jp/moon_wolf",target="_blank") 月夜の人狼
