p 2日目以降、生存者を1人選択してカウンセリングすることができます。
p [[村人陣営]]以外の人をカウンセリングした場合、[[更生者]]にすることができます。[[恋人]]・[[狼の子分]]になって陣営が変わった[[村人陣営]]の人も[[更生者]]にできます。

p ただし、[[人狼系]]・[[ヴァンパイア]]をカウンセリングした場合はカウンセリングに失敗し、翌朝カウンセラーが[[無惨な姿で発見されます|死因一覧]]。しかし[[狂人狼]]をカウンセリングした場合は死亡しません。カウンセラーが[[聖職者]]に護衛されていた場合は死を免れるので死亡しませんが、その場合でもカウンセリングは失敗します。

p カウンセラーは、カウンセリングが成功したかどうか把握できません。カウンセリングされた場合は、カウンセリングに成功した場合は自身が[[更生者]]になったことを把握できますが、誰がカウンセラーかは分かりません。


include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt カウンセル対象選択時
    dd
      p.log.skill ○○が○○をカウンセリングしました。
    dt カウンセル成功時（カウンセルされた側に出現）
    dd
      p.log.skill ○○はカウンセリングされて更生しました。
section
  h2 出典
  p Twitter人狼
