p 独立陣営です。
p [[人狼系]]に襲撃されても死亡しませんが、[[ヴァンパイア]]に襲撃された場合は通常通り死亡します。人狼に襲撃された場合、それを知ることができます。
p 勝利するには、人狼に襲撃された後に処刑される必要があります。条件を満たした場合、その時点で単独勝利します。
p 悪魔くん勝利の場合でも、悪魔くんが複数いる場合は条件を満たした悪魔くんだけしか勝利できません。

section
  h2 ログ
  dl.logs
    dt 人狼に襲撃されたとき
    dd
      p.log.skill ○○は人狼に襲われました。

section
  h2 勝利条件
  p [[悪魔くん陣営]]の勝利。ただし、悪魔くんが複数いても勝利できる悪魔くんは通常1人だけです。
section
  h2 出典
  p 「タブラの狼」を発売したダヴィンチ社が考案したとされる役職です。
