p 夜に生存者から一人選択して、[[占い結果|役職一覧]]を得ます。
p 得るタイミングは選択直後（すぐ分かる）と翌朝（翌朝分かる）で[[設定]]可能。
p [[妖狐]]を占った場合[[呪殺|死因一覧]]します。また、[[人狼占い]]に占われた場合[[人狼占い]]が呪殺されます。
p 闇鍋では、[[闇鍋セーフティ|設定]]が「中」以上の場合80%以上の確率で出現します。
include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 占い対象選択時
    dd
      p.log.skill ○○が○○を占いました。
    dt 占い結果
    dd
      p.log.skill ○○が○○を占ったところ、○○でした。
section
  h2 関連役職
  ul
    li [[子狐]]
    li [[オカルトマニア]]
    li [[人狼占い]]
    li [[見習い占い師]]
    li [[妖術師]]
    li [[予言者のママ]]
    li [[邪魔狂人]]
