p フランケンシュタインの怪物が生存している間、[[村人陣営]]に属する人が死亡すると同時にその人の役職を知らされ、またその人の能力を吸収します。
p [[村人陣営]]の人が[[狼の子分]]や[[恋人]]になって陣営が変わった場合は吸収できませんが、逆に[[村人陣営]]以外の人が[[更生者]]になって[[村人陣営]]になった場合は吸収できます。
p [[狂人狼]]も[[村人陣営]]なので吸収できますが、[[設定]]で「人狼は人狼を襲撃対象に選択できる」をなしにしても[[人狼系]]はフランケンシュタインの怪物を襲撃対象に選択することができます。

p また、フランケンシュタインの怪物が処刑された場合、その昼ではもう1人処刑されます。
p 夜に発動するタイプの能力を得た場合、強制の能力でも全て発動は任意になります。

p 以下の能力は吸収できません。
ul
  li [[タフガイ]]・[[呪われた者]]・[[妖狐]]・[[逃亡者]]などの襲撃耐性
  li [[プリンス]]の処刑耐性
  li [[貴族]]が[[奴隷]]を身代わりにする能力
  li [[奴隷]]が[[貴族]]の身代わりになる能力
  li 勝利条件（[[ニート]]・[[奴隷]]など）
  li [[狼憑き]]などの特殊な[[占い結果・霊能結果|役職一覧]]
 

include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 能力吸収時
    dd
      p.log.skill ○○は○○の死体から（役職名）の能力を吸収しました。
section
  h2 出典
  p 究極の人狼
