p 夜に生存者から一人選択して護衛できます。
p [[設定]]の「護衛成功が分かる」を「あり」にすると、護衛に成功した場合狩人にメッセージが表示されます。
p 護衛が適用されるのはその夜のみです。また、1日目は護衛できません。
p 護衛できるのは[[人狼系]]・[[ヴァンパイア]]の襲撃です。ただし、[[逃亡者]]が襲撃先に逃げた場合など、直接の襲撃以外からは守れません。

include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 護衛対象選択時
    dd
      p.log.skill ○○は○○を護衛しました。
    dt 護衛成功時（設定で有効なとき）
    dd
      p.log.skill ○○が○○の護衛に成功しました。
section
  h2 関連役職
  ul
    li [[罠師]]
    li [[風来狩人]]
