p [[恋人]]を作る役職です。初日の夜に参加者から1人指定して求愛し、自身と[[恋人]]にします。
p 2日目以降に求愛者に変化した場合、求愛できないので勝利できません。
p また、求愛者の能力は強制ですが、[[身代わりくん]]が求愛者になった場合は特別に求愛しません。

p 指定した時点で即座に[[恋人]]になり、相手に伝わります。

section
  h2 ログ
  dl.logs
    dt 相手を選択したとき
    dd
      p.log.skill ○○は○○に求愛しました。
    dt 求愛された側
    dd
      p.log.skill ○○は求愛されて恋人になりました。

section
  h2 勝利条件
  p [[恋人陣営]]の勝利
section
  h2 関連役職
  ul
    li [[キューピッド]]
    li [[悪女]]
section
  h2 出典
  p 人狼天国
