p [[人狼系]]の役職ですが、[[村人陣営]]に所属しています。
p 他の[[人狼系]]を把握して会話することができますが、襲撃対象を選択することはできません。
p 狂人狼のみが生存している場合は人狼の襲撃は発生しなくなります。[[人狼系]]が襲撃しなかった場合でも、狂人狼は[[突然死|死因一覧]]しません。

include common/Werewolf.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 占い対象選択時
    dd
      p.log.skill ○○が○○を人狼占いで占いました。
    dt 占い結果
    dd
      p.log.skill ○○が○○を人狼占いで占ったところ、○○でした。
    dt 狂人変化時（変化した人に出現）
    dd
      p.log.skill ○○は○○になりました。
section
  h2 出典
  p 桃栗三年サーバー
