p 3日目の夜以降、死亡者の中から1人選択して一定確率で[[蘇生]]させることができます。
p 蘇生確率は30%ですが、[[身代わりくん]]の場合だけ60%になります。
include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 蘇生対象選択時
    dd
      p.log.skill ○○は○○に死者蘇生術をかけました。
section
  h2 関連役職
  ul
    li [[猫又]]
    li [[魔女]]
section
  h2 出典
  p 桃栗三年サーバー
