p 処刑された場合、一度だけ処刑が無効になります。
p [[聖職者]]の護衛があった場合、そちらが優先され、プリンスの能力は使用されません。

section
  h2 ログ
  dl.logs
    dt 処刑されそうになった場合
    dd
      p.log.system ○○はプリンスでした。処刑は行われませんでした。

section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 関連役職
  ul
    li [[王様]]
    li [[女王観戦者]]
section
  h2 出典
  p 究極の人狼
