p [[処刑|死因一覧]]された人の[[霊能結果|役職一覧]]を得ます。
p 得るタイミングは夜になったタイミング（すぐ分かる）と次の昼になったタイミング（翌朝分かる）で設定可能です。
p 夜に対象選択をする必要はありません。
p [[トラブルメーカー]]や[[フランケンシュタインの怪物]]の効果により複数人が処刑された場合は全員分の[[霊能結果|役職一覧]]が得られます。
include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 霊能結果
    dd
      p.log.skill ○○の霊能の結果、前日処刑された○○は○○でした。
section
  h2 関連役職
  ul
    li [[占い師]]
