p 量子人狼に登場する役職です。
p 量子人狼では参加者は全員量子人間になります。
p 量子人間の役職は確率で表されていて、各人の行動により変動します。
p 死亡した場合、役職が収束します（どれか1つの役職の確率が100%になります）。
p 占い師である確率が0でない限り占いを行なうことができ、また人狼である確率が0でない限り他の参加者を襲撃することができます。

section
  h2 勝利条件
  p 村人・占い師に収束した場合は[[村人陣営]]の勝利。人狼に収束した場合は[[人狼陣営]]の勝利。
section
  h2 ログ
  dl.logs
    dt 占い対象選択時
    dd
      p.log.skill ○○が○○を占いました。
    dt 襲撃対象選択時
    dd
      p.log.skill ○○は○○に狙いを定めました。
    dt 占い結果
    dd
      p.log.skill ○○が○○を占ったところ、○○でした。
    dt 占い対象を選択したが翌朝になると占いである確率が0になった場合
    dd
      p.log.skill ○○が生存中の占い師である可能性が無くなったので、占えませんでした。
section
  h2 出典
  p
    a(href="http://puzzle.cisra.com.au/2008/quantumwerewolf.html",target="_blank") Quantum Werewolf
