p 毎日生存者から一人選び、プレゼントを送ります。ただし、同じ人には2回送れません。
p プレゼントが届くと相手には翌朝知らされ、対応する能力が使えるようになります。ただし、誰がサンタクロースかは分かりません。
p 生存者全員にプレゼントを届けた場合、翌朝[[村を去ります|死因一覧]]。

p プレゼントは以下の種類があり、ランダムで届きます。
dl
  dt 占いセット(25%)
  dd [[占い師]]
  dt 霊能セット(20%)
  dd [[霊能者]]
  dt 狩人セット(25%)
  dd [[狩人]]
  dt 聖職者セット(7.5%)
  dd [[聖職者]]
  dt コスプレセット（巫女）(7.5%)
  dd [[巫女]]
  dt 玉手箱(5%)
  dd [[老人]]
  dt 聖痕者セット(5%)
  dd [[聖痕者]]
  dt 毒入りプレゼント(10%)
  dd 翌朝[[毒殺|死因一覧]]される


include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
  p または、全員にプレゼントを送って村を去った場合は勝利陣営と一緒に勝利。

section
  h2 ログ
  dl.logs
    dt 能力発動時
    dd
      p.log.skill ○○は○○にプレゼントを届けました。
    dt 受け取った側（毒入りプレゼント以外）
    dd
      p.log.skill ○○に○○が到着しました。
    dt 受け取った側（毒入りプレゼント）
    dd
      p.log.skill ○○に毒入りプレゼントが届きました。
section
  h2 関連役職
  ul
    li [[商人]]
section
  h2 出典
  p 月下人狼オリジナル役職。
  p 2013年12月下旬に高い出現率で出現した。
