p [[人狼系]]の役職ですが、他の[[人狼系]]とは異なる部分があります。
p 他の[[人狼系]]を把握できませんし、会話することもできません。また、[[スパイⅡ]]が誰かも把握できません。さらに、襲撃対象を決定することもできません。
p ただし、他の[[人狼系]]が全員死亡した場合は襲撃が可能になります。

include common/Werewolf.jade

section
  h2 ログ
  dl.logs
    dt 襲撃が可能になったとき（夜の開始時）
    dd
      p.log.skill ○○は襲撃できるようになりました。

section
  h2 勝利条件
  p [[人狼陣営]]の勝利
section
  h2 出典
  p Twitter人狼
