p 初日の夜に参加者から1人選んでストーキングします。その時、ストーキング先の役職を知ることができます（サブ役職は分かりません）。ただし、その後にストーキング先の役職が変化しても知ることはできません。
p 2日目以降にストーカーに変化した場合は最初の夜に対象を選択します。

p ストーキングした場合ストーキング先と同じ陣営になり、その陣営が勝利したら勝利できます。また、ストーキング先の決定後にストーキング先の陣営が変わった場合（[[恋人]]などのサブ役職も含みます）、ストーカーの陣営も変化後に従います。
p 陣営ベースで考えるので、例えば[[奴隷]]をストーキングした場合は[[貴族]]が死んでいなくても[[村人陣営]]が勝利すれば勝利できます。同様に、村に複数の[[悪魔くん]]がいる場合、[[悪魔くん]]をストーキングして別の[[悪魔くん]]が勝利した場合でもストーカーは勝利となります。

p ただし、陣営を持たない役職（[[こうもり]]など）をストーキングした場合はストーキング先の勝利が自身の勝利条件になります。

section
  h2 ログ
  dl.logs
    dt 対象を選択したとき
    dd
      p.log.skill ○○は○○（役職名）のストーカーになりました。

section
  h2 勝利条件
  p 自身の陣営の勝利またはストーキング先の勝利。
section
  h2 関連役職
  ul
    li [[コピー]]
section
  h2 出典
  p 「ウルティマオンライン」上でプレイされていた人狼に登場したとされる。
