p [[人狼系]]の役職です。
p ゲーム中に一度だけ、夜に能力を発動することで襲撃対象を確実に死亡させることができます。
p 一途な狼が能力を使用した場合、襲撃対象を襲撃しても死ななかった場合（[[妖狐]]・[[聖職者]]の護衛など）は強制的に死亡させます（翌朝[[無惨な姿で発見されます|死因一覧]]）。その場合、能力を使用した一途な狼も一緒に死亡します。

p なお、[[狼の子]]や[[欲張りな狼]]の効果により襲撃回数が増えている状態で一途な狼の能力を発動すると、全ての襲撃で一途な狼の効果が適用されます。特に、[[欲張りな狼]]の効果発動後に一途な狼の効果を発動した場合、襲撃耐性のある相手を襲撃しても[[欲張りな狼]]は死亡しなくなります。

p ただし、一途な狼の効果を先に発動した後に[[欲張りな狼]]の効果を発動した場合、一途な狼の効果は無効になります。

include common/Werewolf.jade

section
  h2 ログ
  dl.logs
    dt 能力使用時（[[人狼系]]に表示）
    dd
      p.log.skill ○○は捨て身の覚悟で○○を狙っています。

section
  h2 勝利条件
  p [[人狼陣営]]の勝利
section
  h2 関連役職
  ul
    li [[欲張りな狼]]
section
  h2 出典
  p Twitter人狼
