p 2日目以降毎晩、生存者を1人選択して罠を仕掛けます。
p 罠が仕掛けられた人を人狼たちが襲撃した場合、襲撃されたほうは死亡せず[[人狼系]]からランダムに誰か1人が罠にかかり[[無惨な姿で発見されます|死因一覧]]。また、[[ヴァンパイア]]が襲撃した場合も、その[[ヴァンパイア]]が罠にかかります。[[人狼系]]と[[ヴァンパイア]]に同時に襲撃された場合も、両方罠にかかります。
p また、罠が仕掛けられた人を[[狩人]]・[[風来狩人]]・[[犬]]が護衛した場合、護衛元が罠にかかります。その場合、罠が仕掛けられた人への護衛は無効になります。
p ただし、2人以上の罠師が同じ人を護衛した場合は罠師が罠にかかることはなく、護衛も有効です。
p 罠師は2人連続で同じ人を護衛することができません。

include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 護衛対象選択時
    dd
      p.log.skill ○○は○○を罠で護衛しました。
section
  h2 関連役職
  ul
    li [[狩人]]
    li [[風来狩人]]
section
  h2 出典
  p うそつき人狼
