p ゲーム中に1回だけ、夜に能力を発動して村でトラブルを発生させることができます。村には誰がトラブルを起こしたかは知らされません。
p トラブルが発生した場合、翌日の昼に処刑される人数が1人増えます。2人以上のトラブルメーカーが同時に能力を発動した場合、3人以上処刑することができます。

include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 能力発動時
    dd
      p.log.skill ○○は村でトラブルを起こしました。
    dt トラブル発生時の朝
    dd
      p.log.system トラブルメーカーにより村が混乱しています。今日は2人処刑されます。
section
  h2 出典
  p 究極の人狼
