p [[狩人]]が弱体化した役職です。
p [[狩人]]同様に夜に生存者から一人選択して護衛できます。
p 護衛力は[[狩人]]と同じですが、朝に死体が無かった場合、前の夜に護衛した相手は再度護衛できなくなります。
p 死体が無い原因が風来狩人による護衛成功以外だった場合（[[人狼系]]が襲撃耐性のある役職を襲撃したなど）でも同様です。
p 逆に、風来狩人が護衛に成功した場合でも他の要因で朝に死体が発生した場合は、同じ人を再度護衛することができます。


include common/team_Human.jade
section
  h2 勝利条件
  p [[村人陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 護衛対象選択時
    dd
      p.log.skill ○○は○○を護衛しました。
    dt 朝に死体が無かったとき
    dd
      p.log.skill ○○は○○をもう護衛できません。
    dt 護衛成功時（設定で有効なとき）
    dd
      p.log.skill ○○が○○の護衛に成功しました。
section
  h2 関連役職
  ul
    li [[狩人]]
    li [[罠師]]
