p [[人狼系]]の役職です。
p 毎晩人狼占いにより参加者の役職を知ることができます。[[恋人]]などのサブ役職はわからないが、[[酔っ払い]]の場合は本当の役職名を知ることができます。
p [[占い師]]同様に[[妖狐]]を[[呪殺|死因一覧]]することができますが、[[占い師]]を人狼占いで占った場合は逆に[[呪殺|死因一覧]]されます。
p また、[[狂人系]]を占った場合、占い先が別の役職に変化します（狂人変化）。変化するタイミングは占い結果が出るタイミングと同じで、占い結果がすぐ分かる[[設定]]の場合、その夜から変化先の能力を使用可能になります。狂人変化が起きた場合、人狼占い側には変化前の結果が得られます。

include common/Werewolf.jade
section
  h2 勝利条件
  p [[人狼陣営]]の勝利
section
  h2 ログ
  dl.logs
    dt 占い対象選択時
    dd
      p.log.skill ○○が○○を人狼占いで占いました。
    dt 占い結果
    dd
      p.log.skill ○○が○○を人狼占いで占ったところ、○○でした。
    dt 狂人変化時（変化した人に出現）
    dd
      p.log.skill ○○は○○になりました。
section
  h2 出典
  p 桃栗三年サーバー
