p [[恋人]]になった人及び[[キューピッド]]などが属する陣営です。

section
  h2 勝利条件
  p 次のいずれかを満たしたとき、[[妖狐系]]が全て死亡していて、[[恋人]]が1人以上生存していて、[[カルトリーダー]]・[[悪魔くん陣営]]が勝利条件を満たしていなければ勝利。
  ul
    li 人カウントの人が1人以上生存していて、狼カウント（[[人狼系]]）・ヴァンパイアカウント（[[ヴァンパイア]]）の人が全滅しているとき。（[[村人陣営]]の勝利条件）
    li ヴァンパイアカウントの人が全滅していて、人カウントの人数が狼カウントの人数以下のとき。（[[人狼陣営]]の勝利条件）
    li 狼カウントの人が全滅していて、人カウントの人数がヴァンパイアカウントの人数以下のとき。（[[ヴァンパイア陣営]]の勝利条件）
  p ただし、[[設定]]で「恋人の勝利条件」が「恋人のみ生存」の場合は、[[恋人]]以外の生存者がいると勝利できません。
