- page.title="陣営一覧"
article
  h1 陣営一覧
  p 陣営の詳細は各陣営のページを参照してください。
  p また、各陣営の勝利条件については[[勝利判定]]を参照してください。
  p [[闇鍋]]での陣営表示はこの分類に基づいて行われます。
  ul
    each val,key in teams
      li
        a(href='./'+key+'.html')= val
