article
  h1= site.name

  p #{site.name}へようこそ！
  p 
    | このページは
    a(href="http://jinrou.uhyohyo.net/",target="_blank") 月下人狼
    | の詳細な仕様をまとめたページです。
  p 分からないことがある場合、月下人狼のロビーに書くかTwitterで@uhyo_に質問してもらえれば対応できます。
