- page.title="勝利判定"
article
  h1 勝利判定
  p いずれかの[[陣営|陣営一覧]]が勝利条件を満たした時ゲーム終了となります。
  p [[皮なめし職人]]などの陣営に属さない役職が勝利条件を満たしてもゲーム終了とはなりません。
  p ただし、[[悪魔くん]]・[[カルトリーダー]]は単独陣営と見なされるので勝利条件を満たすとゲーム終了となります。
  p 以下の条件のいずれかを満たした場合ゲーム終了となり、勝利判定が行われます。
  ul
    li [[人狼系]]と[[ヴァンパイア]]が全滅しているとき。（[[村人陣営]]）
    li [[ヴァンパイア]]が全滅していて、人カウントの生存者の人数が[[人狼系]]の人数以下のとき。（[[人狼陣営]]）
    li [[人狼系]]が全滅していて、人カウントの生存者の人数が[[ヴァンパイア]]の人数以下のとき。（[[ヴァンパイア陣営]]）
    li [[悪魔くん]]が勝利条件を満たしたとき。（[[悪魔くん陣営]]）
    li [[カルトリーダー]]が勝利条件を満たしたとき。
  p ただし、上記の条件を満たしている場合でも以下の条件を全て満たしている場合はゲームは続行されます。
  ul
    li [[悪魔くん]]と[[カルトリーダー]]は勝利条件を満たしていない。
    li [[設定]]の「恋人はそれぞれ独立する」が「あり」である。
    li [[恋人]]が複数組生存している。
    li [[恋人]]以外の生存者がいる。

  p ゲーム終了時、複数の陣営が条件を満たしているときの優先順位は、高い方から以下の順番です。
  ol
    li [[悪魔くん]]
    li [[カルトリーダー]]
    li [[恋人陣営]]
    li [[妖狐陣営]]
    li [[村人陣営]]・[[人狼陣営]]・[[ヴァンパイア陣営]]

  p また、以下の条件が満たされた場合は引き分けになります。
  ul
    li 生存者がいなくなったとき。
    li 昼の処刑投票で、4回投票を行なっても決着がつかなかったとき。

